{% extends 'layout.html' %}
{% load static %}


{% block content %}
    <h1>Projemizin çıkış temeli Yönetim Bilişim Sistemleri altyapısından faydalanarak işe alım süreçleri, iş sağlığı güvenliği alanında ki prosedürler, evrak takibi, adayların öz geçmişleri, sağlık geçmişleri vs. gibi aşamaların yeni bir platform önerisi ile dijitalleştirilmesi. Kurulacak platform içerisinde iş veren ve işçiler dinamik olarak bütün bu bilgelere hızlı ve kolay bir şekilde erişim imkanı veriyor.</h1>
{% endblock %}